<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/createBlog.css">
    <link rel="stylesheet" href="./styles/viewBlogs.css">
    <title>Blog Web Application</title>
</head>
<header>

    <div class="heads">
        <nav class="bars">
            <a class="bar-items" href="/">Home</a>
            <a class="bar-items" href="/viewBlogs">View Blogs</a>
            <a class="bar-items" href="/createBlogs">Create Blogs</a>
        </nav>
    </div>
</header>
</html>
<main class="container">