<%- include('./partials/header.ejs') %>

<div class="element">
    <div class="welcome"> Welcome to </div>
    <div class="name"> Grizz Nation 💸 </div>
    <div class="bear-image"> <img src="/images/bear.jpeg"></div>
</div>



<%- include('./partials/footer.ejs') %>